nav {
  padding-top: 20px;
  ul {
    li {
      border-bottom: 1px solid $whiteSmoke;
      padding: 10px;
      a {
        color: $black;
        display: block;
        padding-left: 20px;
        text-decoration: none;
        width: 100%;
      }
    }
  }
}
